.App {
  text-align: center;
  padding:30px;
  background-color:darkslategray;
}

.peace {
    font-family:'Times New Roman', Times, sans-serif;
    color:whitesmoke;
    font-size:38px;
}
.end {
    padding:10px;
    background-color:lightgray;
}

h2 {
    padding-top: 10px;
    padding-left:30px;
}

    h2 a:hover {
        text-decoration: none;
        -moz-transition: all 2500ms ease-in-out;
        -webkit-transition: all 2500ms ease-in-out;
    }

#pic {
    padding:30px;
    padding-top:120px;
    
}

select {
    border:none;
    padding:5px;
}

option {
    padding: 5px;
}

img {
    border-radius: 20px;
    transform: translate(25%,-10%);

}

img :hover {
    display:none;
}


hr {
    width:90%;
}

#uc {
    font-family:'Trebuchet MS', sans-serif, 'Times New Roman';
    padding: 0 30px 30px 30px;
    max-width: 40%;
    float: left;
}


@media screen and (min-width:500px) and (max-width:1000px) {
    .App {
        padding: 30px;
        max-width: 100%;
        background-color: cadetblue;
        color: azure;
    }
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

